@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,300&display=swap');
body{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
.container{
    background-image: url('images/Blogpost interface OPT-3.png');
    width: 100%;
    height: 450px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    content: '';
    position: absolute;
}
.content{
    width: 50%;
    margin-left: 15%;
    padding-top: 7%;
}
.content h3{
    font-weight: 700;
    font-size: 34px;
    line-height: 36px;
    color: #fff;
    margin: 0;
}
.textWithImage{
    margin: 0;
}
.textWithImage p{
    display: inline;
    color: #fff;
    vertical-align: super;
    text-indent: 5px;
    font-style: italic;
    font-weight: 400;
    font-size: 14px;
}
.textWithImage img {
    width: 30px;
    height: 30px;
    border-radius: 100%;
}
@media only screen and (max-width:550px){
    .container{
        width: auto;
    }
    .content h3{
        font-size: 20px;
        padding: 10px;
        line-height: 24px;
    }
    .content{
        width: 100%;
        margin-left: auto;
        padding-top: 15%;
    }
    .mystic-logo{
     padding: 10px;
    }
    .textWithImage{
        padding: 10px;
    }
}